
<link href="/stylesheets/admin-login.css" rel="stylesheet" />
<style>
  
  .forget-container{
     display: flex;
      justify-content: center;
      align-items: center;
      
      
  }
  .forget-logo{
    display: block;
      margin: 0 auto;
      max-height: 81px;
      margin-bottom: 26px;
  }
 </style>
<div class="wrapper">
  <div class="forget-container"><img class="forget-logo" src="/images/193459649_3002820016668094_11705685645653455_n.jpg" alt=""></div>
  <div class="title-text">
        <div class="admin-login">Reset password</div>
      </div>
      
 <div class="form-inner">
         
          <form action="/admin/admin-forget" method="post" class="login">
            <div class="field">
              <input type="email" name="email" placeholder="Email Address" required>
            </div>
            
            
            <div class="field btn">
              <div class="btn-layer"></div>
              <input type="submit" value="Send reset link">
            </div>
            
            {{#if message}}
                <p><span style="font-family: Arial, sans-serif; color: green; display:inline-block">{{message}}</span></p>

          {{/if}}
            {{#if messages}}
                <p><span style="font-family: Arial, sans-serif; color: rgb(255, 5, 5); display:inline-block">{{messages}}</span></p>

          {{/if}}
          </form>     
</div>      
</div>