<!-- category-select partial -->
{{#if categories}}
<div class="row mb-3">
    <label for="category" class="col-sm-2 col-form-label">CATEGORY</label>
    <div class="col-sm-10">
        <select name="category" class="form-control" required>
            {{#each categories}}
                {{#if unlist}}
                    {{!-- Skip rendering the option for unlisted categories --}}
                {{else}}
                    <option value="{{category}}">{{category}}</option>
                {{/if}}
            {{/each}}
        </select>
    </div>
</div>
{{/if}}
