<link href="/stylesheets/signup.css" rel="stylesheet" />
<style>
  .forget-logo{
     width: 81px;
    margin-left: 98px;
  }
 </style>
<div class="wrapper">
  <img class="forget-logo" src="/images/download.png" alt="">
      <div class="title-text">
        <div class="title reset-password">Reset password</div>
        
      </div>
 <div class="form-inner">
         
          <form action="/forget-password" method="post" class="login">
            <div class="field">
              <input type="password" name="password" placeholder="Password" required>
            </div>
            <div class="field">
              <input type="hidden" name="user_id" value="{{user_id}}">
            </div>
            
            
            <div class="field btn">
              <div class="btn-layer"></div>
              <input type="submit" value="Reset password">
            </div>
            
            {{#if message}}
                <p><span style="font-family: Arial, sans-serif; color: green;">{{message}}</span></p>

          {{/if}}
          </form>     
</div>      
</div>